$contentBg: #21232e;

$headerBackground: url("../img/m-h-night.jpg");

$spanBackground: #ff4e33;
$buttonBackground: #e3ac00;
$cardBackground: #3b3f50;
$footerBackground: #3b3f50;

$cardColor: #d1d1d1;
$mainColor: #fff;

$logoFontFamily: 'Fresca', sans-serif;
$mainFontFamily: 'Source Sans Pro', sans-serif;
$secondFontFamily: 'Fresca', sans-serif;

$bannerBgColor:linear-gradient(to right, #dca108, #932d52);