$contentBg: #fff;

$headerBackground: url("../img/m-h-day.jpg");

$spanBackground: #14a0c7;
$buttonBackground: #699900;
$cardBackground: #21232e;
$footerBackground: #21232e;

$cardColor: #c0c3c9;
$mainColor: #2c2f3c;

$logoFontFamily: 'Source Sans Pro', sans-serif;
$mainFontFamily: 'Source Sans Pro', sans-serif;
$secondFontFamily: 'Hind', sans-serif;

$bannerBgColor:linear-gradient(to right, #629217, #2d5bda);