* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 890px) {
    .header {
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 25px;
        letter-spacing: 2px;
        align-items: center;
        margin: 0 auto;
    }

    .logo-name {
        font-weight: 700;
        font-size: 18px;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        list-style-type: none;
        padding: 0 15px;
    }

    .item-link {
        text-decoration: none;
        color: black;
    }

    .item-link:active {
        color: #bfba55;
    }

    .item-link:hover {
        color: #bfba55;
    }

    .greeting-content {
        background-image: url(../img/home-bg.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        height: 100vh;
        z-index: 10;
    }

    .greeting-content-box {
        width: 800px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
    }

    .greeting-content-title {
        color: #fff;
        font-size: 60px;
    }

    .greeting-content-text {
        color:#bfba55 ;
        font-size: 18px;
    }

    .greeting-btn {
        background-color: #fff;
        width: 180px;
        padding: 10px 25px;
        border-radius: 15px;
        text-transform: uppercase;
        color:#777; 
        font-weight: bold;
        outline: none;
        margin: 25px;
    }

    .greeting-btn:hover {
        cursor: pointer;
        background-color: #bfba55;
    }

    .main-container {
        margin: 50px 0;
    }

    .main-section {
        width: 800px;
        margin: 0 auto;
    }

    .section-image img {
        width: 100%;
    }

    .blog-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 25px 0 20px;
    }

    .blog-info {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .blog-info div {
        margin: 0 30px;
    }

    .blog-info-name1::before {
        content: "";
        position: absolute;
        left: -7px;
        top: -6px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url('../img/author-image1.jpg');
        background-size: contain;
        border: 1px solid #777;
    }

    .blog-info-name2::before {
        content: "";
        position: absolute;
        left: -7px;
        top: -6px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url('../img/author-image2.jpg');
        background-size: contain;
        border: 1px solid #777;
    }

    .blog-text {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #777;
        font-size: 14px;
        line-height: 1.5; 
        padding: 20px 0;
    }

    .blog-btn {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #777;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 15px;
        border: 1px solid #777;
        background-color: #fff;
        outline: none;
        margin: 15px 0;
    }

    hr {
        width: 800px;
        margin: 50px auto;
    }

    .footer {
        background-color: #000;
    }

    .footer-container {
        width: 800px;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-info {
        width: 50%;
    }

    .footer-contact {
        width: 40%;
    }

    .footer-title {
        color: #fff;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .footer-text {
        color: #777;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 20px 0;
        font-size: 14px;
        line-height: 1.5;
    }
    
    .footer-text p {
        padding: 5px 0;
    }

    .footer-copy {
        margin-top: 15px;
    }

}
